.log-btn{
    margin-top: 1rem;
}


.login-line{
    height: 1px;
    background-color: var(--grey);
    width: 100%;
}
.user-drop-down button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: left;
    width: 100%;
    border: none;
    background: none;
  }
  
  .user-drop-down button:hover {
    background-color: rgb(243, 243, 243);
  }