.nav-filter{
    position: sticky;
    top: 5rem;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    align-items: center;
    z-index: 0;
    background-color: white;
}

.filter-box, .selected-box{
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 4rem;
    border-bottom: 2px solid white;
    min-width: 70px;
    color: var(--font-grey);

}

.filter-box:hover{
    opacity: 1;
    border-bottom: 2px solid darkgray;
    color: black;
    transition: all 0.3s;
}

.filter-img{
    width: 1.3rem;
    height: 1.3rem;
    object-fit: contain;
    padding-bottom: 0.6rem;
}

.filter-label{

    font-size: 0.7rem;
    font-family: AirCereal;
    font-weight: 800;
    white-space: nowrap;
}

/* .filter-label:hover{
    color: black;
    transition: all 0.3s;
} */

.selected-box{
    opacity: 1;
    border-bottom: 2px solid black;
    color:black;
    transition: all 0.3s;
}

.card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 5rem;
  }