.nav-filter{
    position: sticky;
    top: 4.5rem;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    align-items: center;
    z-index: 0;
    background-color: white;
}

.filter-box, .selected-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 4rem;
    border-bottom: 2px solid white;
    min-width: 70px;
}

.filter-box:hover{
    opacity: 1;
    border-bottom: 2px solid darkgray;
    transition: all 0.3s;
}

.filter-img{
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.filter-label{
    font-size: 0.6rem;
    font-weight: 800;
    color: var(--font-grey);
}

.selected-box{
    opacity: 1;
    border-bottom: 2px solid black;
    transition: all 0.3s;
}

.card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 5rem;
  }