.user-fate{
    width: 100%;
}

.reserved{
    display: flex;
    flex-wrap: wrap;
}
.reserved > div {
    flex: 50%;
  }

.reserved-box{
    width: 100%;
    /* min-height: 10rem; */

}

.reserved-prof-image {
    width: 80px;
    border-radius: 10px;
    height: 80px;
  }

  .date-info{
    padding-left: 5px;
  }
.reserved-date{
    color: var(--font-grey);
}

.reserved-link{
    text-decoration: none !important;
}

a {
    color: black;
}
.review-create, .delete{
    padding-left: 5px;
}

/* .each-reserved {
    padding-right: 1rem;
} */