.reviews-box {
  padding: 0rem 10%;
}

.total-review-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-map {
  display: flex;
  flex-wrap: wrap;
}
.review-map > div {
  flex: 50%;
}
.review-box {
  width: 100%;
}

.review-box > div{
  flex: 50%;
}
.review-profile-data {
  display: flex;
  align-items: center;
}

.review-profile-data h4 {
  margin: 0px;
}

.review-prof-image {
  width: 50px;
  border-radius: 50px;
  height: 50px;
}

.user-date {
  padding-left: 5px;
}

.review-create {
  height: 4em;
  width: 150px;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
}

.review-create:hover{
  filter: brightness(95%);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  
}
.review-create-box {
  padding: 4rem 0rem;
}

.review-comment{
  margin-right: 5rem;
}